@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #10021c;
    --darkest: #2e1065;
    --very-dark: #4c1d95;
    --dark-800: #5b21b6;
    --dark-700: #6d28d9;
    --dark-600: #7c3aed;
    --medium: #8b5cf6;
    --light: #a78bfa;
    --very-light: #c4b5fd;
    --text-white: #f5f3ff;
  }
}

@layer components {
  .connect-btn {
    background: var(--darkest) !important;
    color: var(--text-white) !important;
    transition: all ease-in-out 0.15s !important;
    &:hover {
      background: var(--very-dark) !important;
    }
  }

  .connected-btn {
    border: 1px solid var(--darkest) !important;
  }
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #1f2937;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2937;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 4px;
  border: 2px solid #1f2937;
}
